@media (max-width: 600px) {

  .products{
    display: inline;
    height: auto;
  }

  .product{
    margin-top: auto;
  }

  .main_section{
    padding: 4%;
  }

  .allProducts, .mensiones {
    display: inherit;
  }
}
